*{
    font-family: "Roboto Mono", monospace;
}

.encabezado h1 {
    background-color: #000000;
    color: #fa8334;
    text-align: center;
    font-size: 80px;
}


.logo {
    width: 300;
    height: 300px;    
    position: relative;
    left: 60px;
    top: 10px;
        
}   

.boton {
    font-size: 20px;
    width: 180px;
    height: 40px;
    position: relative;
    left: 1000px;
}

.imagen-central {
    width: 900px;
    height: 300px;
    border-radius: 50px;
    margin: 14px;
    position: absolute;
    left: 500px;
}

.carrito-de-compras {
    width: 150px;
    height: 150px;
    position: relative;
    left: 1190px;
    bottom: 20px;
}

.linea-de-menu-1 {
    font-size: 30px;
    text-align: center;
}

.cerveza {
    width: 300px;
    height: 150px;
}

.vinos {
    width: 160px;
    height: 200px;
}

.destilados {
    width: 250px;
    height: 200px;
}

.linea-de-menu-2 {
    font-size: 30px;
    text-align: center;
}

.energizantes {
    width: 250px;
    height: 150px;
}

.gaseosas {
    width: 280px;
    height: 200px;
}

.agua {
    width: 200px;
    height: 200px;
}

.mcerv {
    text-align: center;
    font-size: 30px;
}

.pie {
    font-size: 20px;
}

.whatsapp {
    width: 50px;
    height: 30px;
}

.instagram {
    width: 80px;
    height: 80px;
}

.facebook {
    width: 80px;
    height: 80px;
}

.a1 {
    width: 220px;
    height: 150px;
}

.a2 {
    width: 150px;
    height: 150px;
}

.a3 {
    width: 70px;
    height: 150px;
}

.a4 {
    width: 120px;
    height: 150px;
}

.contacto {
    text-align: center;
}





